.button {
  cursor: pointer;
  display: inline-block;
  outline: none;
  border: none;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  background: #f5f8fa linear-gradient(#ffffff, #f5f8fa);
  font-family: sans-serif;
  padding: 8px 15px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 8px;
  color: #333;
  border: 1px solid #d5d5d5;
  min-width: 80px;
}

.success {
  background-color: #0ea432;
  color: #ffffff;
  box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
}

.button.success:hover {
  background-color: #16ab39;
  border-color: #4a993e;
  background-image: linear-gradient(#79d858, #569e3d);
}

.button.floating {
  width: 100%;
}

.button.small {
  padding: 3px 10px;
  font-size: 12px !important;
  line-height: 20px;
}

.button:hover {
  background-color: #ddd;
  border-color: #ccc;
  background-image: linear-gradient(#eee, #ddd);
}

.button.danger {
  background-image: linear-gradient(#dc5f59, #b33630);
  background-color: #db2828;
  border-color: #cd504a;
  color: #ffffff;
}

.button.danger:hover {
  background-color: #d01919;
  background-image: linear-gradient(#dc5f59, #d01919);
}

.button:disabled, button.success:disabled, button.danger:disabled {
  color: #ddd;
  border: 1px solid #d5d5d5;
}

.button:disabled:hover, button.success:disabled, button.danger:disabled {
  color: #ddd;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  background: #f5f8fa linear-gradient(#ffffff, #f5f8fa);
  cursor: default;
}
